<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="defaultLogConfig"
               packages="">
    <properties>
        <property name="LOG_HOME">d:/logs</property>
        <property name="patternlayout">
            %-d{yyyy-MM-dd HH:mm:ss}[ %t:%r ] - [%-5p] %c-%M:%L - %m%n%throwable{full}
        </property>
        <property name="filename">${LOG_HOME}/javafree.log </property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${patternlayout}" />
        </Console>
        <RollingFile name="JavaFreeAsynchRollingFile" fileName="${filename}" filePattern="${LOG_HOME}/$${date:yyyyMMddHHmm}/javafree-%d{yyyyMMddHHmm}-%i.log.gz">
            <PatternLayout pattern="${patternlayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- spring log -->

        <AsyncLogger name="org.springframework.beans" level="INFO">
            <AppenderRef ref="File" />
            <AppenderRef ref="JavaFreeAsynchRollingFile" />
        </AsyncLogger>

        <AsyncLogger name="org.springframework.core" level="INFO">
            <AppenderRef ref="File" />
            <AppenderRef ref="JavaFreeAsynchRollingFile" />
        </AsyncLogger>

        <AsyncLogger name="org.springframework.context" level="INFO">
            <AppenderRef ref="File" />
            <AppenderRef ref="JavaFreeAsynchRollingFile" />
        </AsyncLogger>
        <AsyncLogger name="org.springframework.web" level="INFO">
            <AppenderRef ref="File" />
            <AppenderRef ref="JavaFreeAsynchRollingFile" />
        </AsyncLogger>
        <!-- mybatis log -->
        <AsyncLogger name="com.ibatis" level="INFO">
            <AppenderRef ref="File" />
            <AppenderRef ref="JavaFreeAsynchRollingFile" />
        </AsyncLogger>

        <Root level="INFO">
            <AppenderRef ref="JavaFreeAsynchRollingFile" />
            <AppenderRef ref="JavaFreeAsynchRollingFile" />

        </Root>
    </Loggers>
</Configuration>
